[tool.black]
line-length = 100
target-version = ["py310"]
skip-string-normalization = false

[tool.ruff]
line-length = 100
target-version = "py310"

[tool.ruff.lint]
select = [
  "E",  # pycodestyle (ошибки)
  "F",  # pyflakes
  "I",  # isort (импорты)
  "UP", # pyupgrade
  "B",  # flake8-bugbear
  "A",  # flake8-builtins
  "C4", # flake8-comprehensions
]
ignore = [
  "E501", 
]

[tool.ruff.lint.isort]
known-first-party = ["adapters", "repo_decorators", "file_repo_decorator", "spec", "file_spec"]
combine-as-imports = true
force-sort-within-sections = true

[tool.ruff.format]
quote-style = "preserve"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true
disallow_untyped_defs = true
no_implicit_optional = true
warn_return_any = true
warn_redundant_casts = true
warn_unused_ignores = true
strict_equality = true
ignore_missing_imports = true
plugins = []
